.center {
	display:block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}
.bodywidth {
	max-width: 1200px;
	margin: 0 auto;
}
.imagePadding {
	padding-left: 5px;
	padding-right: 5px;
}
.row {
	display: flex;
	float: center;
}